{{>admin/layout/manager_header}}

<div class="flex_center">
    <div class="main">
        <!--  컨테이너 1 시작  -->
        <div class="container">
            <div class="section1">
                <div class="section_title">캠핑장</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-tent"></i><a href="/admin/camp/setting">캠핑장 관리</a></li>
                    <li><i class="fa-solid fa-compass"></i><a href="/admin/camp/current">캠핑장 현황 · 리뷰</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">회원</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-user"></i><a href="/admin/user">회원 관리</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">고객센터</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-question"></i><a href="/admin/customer/faq">FAQ</a></li>
                    <li><i class="fa-regular fa-clipboard"></i><a
                            href="/admin/customer/notice">공지사항</a></li>
                </ul>
                <div class="short_line"></div>
            </div>
        </div>
        <!--  컨테이너 2 시작  -->
        <div class="check_container">
            <div class="admin_container_title">
                <h3>캠핑장 등록</h3>
            </div>
            <form id="search-form" action="/admin/camp/setting" method="get">
                <div class="custom_search">
                    <input type="text" name="keyword" placeholder="검색 하기">
                    <button type="submit" class="custom_search_button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <div>
                <div class="custom_flex_end">
                    <button type="button" class="insert_to_modal" data-bs-toggle="modal"
                            data-bs-target="#camp_insert_modal">등록
                    </button>
                </div>
                <div style="padding: 15px">
                    <table class="table table-hover" style="table-layout: fixed">
                        <thead>
                        <tr class="camp_th">
                            <th style="width: 50px">#</th>
                            <th style="width: 190px">캠핑장</th>
                            <th style="width: 300px">주소</th>
                            <th>캠핑장 전화번호</th>
                            <th>수정</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#campDTOList}}
                        <tr class="camp_td">
                            <td>{{campId}}</td>
                            <td class="title">{{campName}}</td>
                            <td class="content">{{campAddress}}</td>
                            <td>{{campNumber}}</td>
                            <td>
                                <button type="button" class="update_to_modal" data-bs-toggle="modal"
                                        data-bs-target="#camp_update_modal">
                                    수정
                                </button>
                            </td>
                            <td>
                                <button class="delete_Button" id="userDelete" data-id="1">삭제
                                </button>
                            </td>
                        </tr>
                        {{/campDTOList}}
                        </tbody>
                    </table>
                        <ul class="pagination">
                            <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="/admin/camp/setting?page={{prevPage}}&keyword={{keyword}}">Previous</a></li>
                            <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="/admin/camp/setting?page={{nextPage}}&keyword={{keyword}}">Next</a></li>
                        </ul>
                </div>
            </div>
            <div class="modal" id="camp_insert_modal">
                <div class="modal-dialog modal-lg">
                    <div class="camp_insert_modal_content">
                        <!-- Modal body -->
                        <div class="camp_modal_body">
                            <div class="button">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="body">
                                <div class="column">캠핑장 등록</div>
                                <form action="" method="post" enctype="multipart/form-data">
                                    <div class="camp_form">
                                        <div class="camp_name custom_flex_between custom_margin_bottom">
                                            <div class="title">캠핑장 이름
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <input type="text" value="" class="camp_long_input input"
                                                   placeholder="캠핑장 이름 입력">
                                        </div>
                                        <div class="camp_address custom_flex_between custom_margin_bottom">
                                            <div class="title">캠핑장 주소
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <input type="text" value="" class="camp_long_input input"
                                                   placeholder="캠핑장 주소 검색">
                                        </div>
                                        <div class="camp_num_homepage custom_flex_between custom_margin_bottom">
                                            <div class="custom_flex_between" style="width: 40%">
                                                <div class="title">전화번호
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <input type="tel" value="" class="camp_middle_input input"
                                                       placeholder="숫자만 입력">
                                            </div>
                                            <div class="custom_flex_between" style="width: 55%">
                                                <div class="title">홈페이지
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <input type="url" value="" class="camp_m_middle_input input"
                                                       placeholder="홈페이지 주소 입력">
                                            </div>
                                        </div>
                                        <div class="camp_day_time custom_flex_between custom_margin_bottom">
                                            <div class="custom_flex_between" style="width: 29.3%;">
                                                <div class="set_title">정기휴무
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <select class="form-select" id="sel1" name="sellist1">
                                                    <option>없음</option>
                                                    <option>월</option>
                                                    <option>화</option>
                                                    <option>수</option>
                                                    <option>목</option>
                                                    <option>금</option>
                                                    <option>토</option>
                                                    <option>일</option>
                                                </select>
                                            </div>
                                            <div class="custom_flex_between" style="width: 67%">
                                                <div class="custom_flex_between" style="width: 47%">
                                                    <div class="set_title">체크인
                                                        <span class="custom_font_point3">*</span>
                                                    </div>
                                                    <input type="text" value="" class="camp_short_input input" id="check_in"
                                                           placeholder="체크인 시간 입력">
                                                </div>
                                                <div class="custom_flex_between" style="width: 47%">
                                                    <div class="set_title">체크아웃
                                                        <span class="custom_font_point3">*</span>
                                                    </div>
                                                    <input type="text" value="" class="camp_short_input input" id="check_out"
                                                           placeholder="체크아웃 시간 입력">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_facility custom_flex_around ">
                                            <div class="custom_grid_center" style="width: 30%">
                                                <label for="sel1" class="form-label option_title">양수도 가능 여부
                                                    <span class="custom_font_point3">*</span>
                                                </label>
                                                <select class="form-select form_select_middle" id="water"
                                                        name="sellist1">
                                                    <option>가능</option>
                                                    <option>불가능</option>
                                                </select>
                                            </div>
                                            <div class="custom_grid_center" style="width: 30%">
                                                <label for="sel1" class="form-label option_title">쓰레기봉투 지급 여부
                                                    <span class="custom_font_point3">*</span>
                                                </label>
                                                <select class="form-select form_select_middle" id="trash"
                                                        name="sellist1">
                                                    <option>지급</option>
                                                    <option>미지급</option>
                                                </select>
                                            </div>
                                            <div class="custom_grid_center" style="width: 40%">
                                                <label for="sel1" class="form-label option_title">취소/환불 기준
                                                    <span class="custom_font_point3">*</span>
                                                </label>
                                                <select class="form-select form_select_long" id="refund"
                                                        name="sellist1">
                                                    <option>당일 취소 불가, 2일 전 100% 환불</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_img custom_margin_bottom">
                                            <div class="custom_flex_between">
                                                <div class="column_title">캠핑장 사진
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <div class="custom_flex">
                                                    <button type="button" class="plus_button" onclick="addPhotoField()">
                                                        <img src="/static_images/icons/plus.png">
                                                    </button>
                                                    <button type="button" class="minus_button"
                                                            onclick="deletePhotoField()">
                                                        <img src="/static_images/icons/minus.png">
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="pic_plus" class="custom_flex_align_center">
                                                <label id="camp_pic" for="camp_photo" class="camp_select_form">
                                                    <img src="/static_images/icons/add_camera.png" class="camera_icon">
                                                    사진 선택 <span class="custom_font_point3">*</span></label>
                                                <input type="file" id="camp_photo" name="campPhotoList" accept="image/*"
                                                       onchange="changeUserPic(this.id, 'camp_pic', 'camp_pic_style', event)"
                                                       class="camp_pic_upload_label">
                                                <br>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_option custom_margin_bottom">
                                            <div class="column_title">옵션
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <div class="environment custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    환경
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something">
                                                    <label class="form-check-label" for="check1">산</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">계곡</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">바다</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">섬</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">도시</label>
                                                </div>
                                            </div>
                                            <div class="type custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    캠핑유형
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something">
                                                    <label class="form-check-label" for="check1">트레일러</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">모터홈</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">카라반</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">오토캠핑</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">차박</label>
                                                </div>
                                            </div>
                                            <div class="site custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    사이트 형태
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">데크</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">파쇄석</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">잔디</label>
                                                </div>
                                            </div>
                                            <div class="main_facility custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    주요 시설
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">전기</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">Wi-Fi</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">화로대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">화로대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">반려동물</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">키즈</label>
                                                </div>
                                            </div>
                                            <div class="have_facility custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    보유 시설
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">샤워장</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">온수</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">매점</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">물놀이장</label>
                                                </div>
                                            </div>
                                            <div class="exercise_facility custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    체육 시설
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">산책로</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">운동장</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">농구대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">축구장</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">족구장</label>
                                                </div>
                                            </div>
                                            <div class="program custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    프로그램 및 활동
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">계곡·물놀이</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">해수욕</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">갯벌체험</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">낚시</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">등산(트래킹)</label>
                                                </div>
                                            </div>
                                            <div class="rental custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    대여 물품
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">릴선</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">화로대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">난로</label>
                                                </div>
                                            </div>
                                            <div class="sell custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    판매 물품
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">숯</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">장작</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">얼음</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">술</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">등유</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_site_img custom_margin_bottom">
                                            <div class="column_title">캠핑장 배치도
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <p class="content">캠핑장 배치도를 보고 구역 이름을 등록해주세요</p>
                                            <div class="custom_flex_align_center">
                                                <label id="director_pic" for="director_photo"
                                                       class="camp_site_pic_form">
                                                    <img src="/static_images/icons/add_camera.png" class="camera_icon">
                                                    사진 선택 <span class="k_star_class">*</span>
                                                </label>
                                                <input type="file" id="director_photo" name="directorPhoto"
                                                       accept="image/*"
                                                       onchange="changeUserPic(this.id, 'director_pic', 'camp_site_pic', event)"
                                                       class="camp_pic_upload_label">
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_site custom_margin_bottom">
                                            <div class="custom_flex_between">
                                                <div class="column_title">캠핑 구역
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <div class="custom_flex">
                                                    <button type="button" class="plus_button" onclick="plusCampSite()">
                                                        <img src="/static_images/icons/plus.png">
                                                    </button>
                                                    <button type="button" class="minus_button"
                                                            onclick="minusCampSite()">
                                                        <img src="/static_images/icons/minus.png">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="camp_site_insert_form">
                                                <div class="add_camp_site">
                                                    <input type=text class="camp_site_name_input input"
                                                           id="camp_site_name" placeholder="구역 이름" name="campSiteName">
                                                    <input type="text" class="camp_site_price_input input"
                                                           id="camp_site_price" placeholder="금액(숫자만 입력)"
                                                           name="campSitePrice">
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 70px">
                                            <button type="submit" class="insert_button insert_submit"
                                                    style="width: 140px" data-bs-dismiss="modal">캠핑장 등록하기
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="camp_update_modal">
                <div class="modal-dialog modal-lg">
                    <div class="camp_insert_modal_content">
                        <!-- Modal body -->
                        <div class="camp_modal_body">
                            <div class="button">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="body">
                                <div class="column">캠핑장 수정</div>
                                <form action="" method="post" enctype="multipart/form-data">
                                    <div class="camp_form">
                                        <div class="camp_name custom_flex_between custom_margin_bottom">
                                            <div class="title">캠핑장 이름
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <input type="text" value="" class="camp_long_input input"
                                                   placeholder="캠핑장 이름 입력">
                                        </div>
                                        <div class="camp_address custom_flex_between custom_margin_bottom">
                                            <div class="title">캠핑장 주소
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <input type="text" value="" class="camp_long_input input"
                                                   placeholder="캠핑장 주소 검색">
                                        </div>
                                        <div class="camp_num_homepage custom_flex_between custom_margin_bottom">
                                            <div class="custom_flex_between" style="width: 40%">
                                                <div class="title">전화번호
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <input type="tel" value="" class="camp_middle_input input"
                                                       placeholder="숫자만 입력">
                                            </div>
                                            <div class="custom_flex_between" style="width: 55%">
                                                <div class="title">홈페이지
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <input type="url" value="" class="camp_m_middle_input input"
                                                       placeholder="홈페이지 주소 입력">
                                            </div>
                                        </div>
                                        <div class="camp_day_time custom_flex_between custom_margin_bottom">
                                            <div class="custom_flex_between" style="width: 29.3%;">
                                                <div class="set_title">정기휴무
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <select class="form-select" id="sel1" name="sellist1">
                                                    <option>없음</option>
                                                    <option>월</option>
                                                    <option>화</option>
                                                    <option>수</option>
                                                    <option>목</option>
                                                    <option>금</option>
                                                    <option>토</option>
                                                    <option>일</option>
                                                </select>
                                            </div>
                                            <div class="custom_flex_between" style="width: 67%">
                                                <div class="custom_flex_between" style="width: 47%">
                                                    <div class="set_title">체크인
                                                        <span class="custom_font_point3">*</span>
                                                    </div>
                                                    <input type="text" value="" class="camp_short_input input" id="check_in"
                                                           placeholder="체크인 시간 입력">
                                                </div>
                                                <div class="custom_flex_between" style="width: 47%">
                                                    <div class="set_title">체크아웃
                                                        <span class="custom_font_point3">*</span>
                                                    </div>
                                                    <input type="text" value="" class="camp_short_input input" id="check_out"
                                                           placeholder="체크아웃 시간 입력">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_facility custom_flex_around ">
                                            <div class="custom_grid_center" style="width: 30%">
                                                <label for="sel1" class="form-label option_title">양수도 가능 여부
                                                    <span class="custom_font_point3">*</span>
                                                </label>
                                                <select class="form-select form_select_middle" id="water"
                                                        name="sellist1">
                                                    <option>가능</option>
                                                    <option>불가능</option>
                                                </select>
                                            </div>
                                            <div class="custom_grid_center" style="width: 30%">
                                                <label for="sel1" class="form-label option_title">쓰레기봉투 지급 여부
                                                    <span class="custom_font_point3">*</span>
                                                </label>
                                                <select class="form-select form_select_middle" id="trash"
                                                        name="sellist1">
                                                    <option>지급</option>
                                                    <option>미지급</option>
                                                </select>
                                            </div>
                                            <div class="custom_grid_center" style="width: 40%">
                                                <label for="sel1" class="form-label option_title">취소/환불 기준
                                                    <span class="custom_font_point3">*</span>
                                                </label>
                                                <select class="form-select form_select_long" id="refund"
                                                        name="sellist1">
                                                    <option>당일 취소 불가, 2일 전 100% 환불</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_img custom_margin_bottom">
                                            <div class="custom_flex_between">
                                                <div class="column_title">캠핑장 사진
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <div class="custom_flex">
                                                    <button type="button" class="plus_button" onclick="addPhotoField()">
                                                        <img src="/static_images/icons/plus.png">
                                                    </button>
                                                    <button type="button" class="minus_button"
                                                            onclick="deletePhotoField()">
                                                        <img src="/static_images/icons/minus.png">
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="pic_plus" class="custom_flex_align_center">
                                                <label id="camp_pic" for="camp_photo" class="camp_select_form">
                                                    <img src="/static_images/icons/add_camera.png" class="camera_icon">
                                                    사진 선택 <span class="custom_font_point3">*</span></label>
                                                <input type="file" id="camp_photo" name="campPhotoList" accept="image/*"
                                                       onchange="changeUserPic(this.id, 'camp_pic', 'camp_pic_style', event)"
                                                       class="camp_pic_upload_label">
                                                <br>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_option custom_margin_bottom">
                                            <div class="column_title">옵션
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <div class="environment custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    환경
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something">
                                                    <label class="form-check-label" for="check1">산</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">계곡</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">바다</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">섬</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">도시</label>
                                                </div>
                                            </div>
                                            <div class="type custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    캠핑유형
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something">
                                                    <label class="form-check-label" for="check1">트레일러</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">모터홈</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">카라반</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">오토캠핑</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">차박</label>
                                                </div>
                                            </div>
                                            <div class="site custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    사이트 형태
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">데크</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">파쇄석</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">잔디</label>
                                                </div>
                                            </div>
                                            <div class="main_facility custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    주요 시설
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">전기</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">Wi-Fi</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">화로대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">화로대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">반려동물</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">키즈</label>
                                                </div>
                                            </div>
                                            <div class="have_facility custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    보유 시설
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">샤워장</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">온수</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">매점</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">물놀이장</label>
                                                </div>
                                            </div>
                                            <div class="exercise_facility custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    체육 시설
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">산책로</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">운동장</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">농구대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">축구장</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">족구장</label>
                                                </div>
                                            </div>
                                            <div class="program custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    프로그램 및 활동
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">계곡·물놀이</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">해수욕</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">갯벌체험</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">낚시</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">등산(트래킹)</label>
                                                </div>
                                            </div>
                                            <div class="rental custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    대여 물품
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">릴선</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">화로대</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">난로</label>
                                                </div>
                                            </div>
                                            <div class="sell custom_flex_align_center custom_mini_margin_bottom">
                                                <div class="sub_title">
                                                    판매 물품
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check1"
                                                           name="option1" value="something"
                                                    >
                                                    <label class="form-check-label" for="check1">숯</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">장작</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">얼음</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">술</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="check2"
                                                           name="option2"
                                                           value="something">
                                                    <label class="form-check-label" for="check2">등유</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_site_img custom_margin_bottom">
                                            <div class="column_title">캠핑장 배치도
                                                <span class="custom_font_point3">*</span>
                                            </div>
                                            <p class="content">캠핑장 배치도를 보고 구역 이름을 등록해주세요</p>
                                            <div class="custom_flex_align_center">
                                                <label id="director_pic" for="director_photo"
                                                       class="camp_site_pic_form">
                                                    <img src="/static_images/icons/add_camera.png" class="camera_icon">
                                                    사진 선택 <span class="k_star_class">*</span>
                                                </label>
                                                <input type="file" id="director_photo" name="directorPhoto"
                                                       accept="image/*"
                                                       onchange="changeUserPic(this.id, 'director_pic', 'camp_site_pic', event)"
                                                       class="camp_pic_upload_label">
                                            </div>
                                        </div>
                                        <hr class="custom_hr">
                                        <div class="camp_site custom_margin_bottom">
                                            <div class="custom_flex_between">
                                                <div class="column_title">캠핑 구역
                                                    <span class="custom_font_point3">*</span>
                                                </div>
                                                <div class="custom_flex">
                                                    <button type="button" class="plus_button" onclick="plusCampSite()">
                                                        <img src="/static_images/icons/plus.png">
                                                    </button>
                                                    <button type="button" class="minus_button"
                                                            onclick="minusCampSite()">
                                                        <img src="/static_images/icons/minus.png">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="camp_site_insert_form">
                                                <div class="add_camp_site">
                                                    <input type=text class="camp_site_name_input input"
                                                           id="camp_site_name" placeholder="구역 이름" name="campSiteName">
                                                    <input type="text" class="camp_site_price_input input"
                                                           id="camp_site_price" placeholder="금액(숫자만 입력)"
                                                           name="campSitePrice">
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 70px">
                                            <button type="submit" class="update_button update_submit"
                                                    style="width: 140px" data-bs-dismiss="modal">캠핑장 수정하기
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/camp_save.js"></script>

