{{>admin/layout/manager_header}}

<!--컨테이너1 시작-->
<div class="flex_center">
    <div class="main">
        <div class="container">
            <div class="section1">
                <div class="section_title">캠핑장</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-tent"></i><a href="/admin/camp/save">캠핑장 등록</a>
                    </li>
                    <li><i class="fa-solid fa-binoculars"></i><a href="/admin/camp/update-delete">캠핑장 수정 · 삭제</a></li>
                    <li><i class="fa-solid fa-compass"></i><a href="/admin/camp/current">캠핑장 현황 · 리뷰 관리</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">회원</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-user"></i><a href="/admin/user">회원 관리</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">고객센터</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-question"></i><a href="/admin/customer/faq">FAQ</a></li>
                    <li><i class="fa-regular fa-clipboard"></i><a
                            href="/admin/customer/notice">공지사항</a></li>
                </ul>
                <div class="short_line"></div>
            </div>
        </div>
        <!--컨테이너1 끝-->

        <!--컨테이너2 시작-->
        <div class="check_container">
            <div class="admin_container_title">
                <h3>FAQ</h3>
            </div>
            <form id="search-form" action="/admin/funding/confirm/search" method="get">
                <div class="custom_search">
                    <input type="text" name="keyword" placeholder="검색 하기">
                    <button type="submit" class="custom_search_button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <div>
                <div class="custom_flex_between">
                    <ul class="tabs">
                        <li class="tab-link current" data-tab="tab-1" id="1" >결제/환불</li>
                        <li class="tab-link" data-tab="tab-2" id="2">회원/로그인</li>
                    </ul>
                    <button type="button" class="insert_to_modal" data-bs-toggle="modal"
                            data-bs-target="#fqa_insert_modal">등록</button>
                </div>
                <div id="tab-1" class="tab-content current">
                    <table class="table table-hover" style="table-layout: fixed">
                        <thead>
                        <tr class="faq_th">
                            <th style="width: 50px">#</th>
                            <th style="width: 250px">제목</th>
                            <th style="width: 300px">내용</th>
                            <th>작성 날짜</th>
                            <th>수정</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="faq_td">
                            <td>1</td>
                            <td class="title">예약을 취소하고 싶어요</td>
                            <td class="content">예약자 본인이 직접 예약확인/취소 가능합니다.
                                예약/결제 당시 안내된 취소/환불 규정에 따라 처리되며, 취소수수료 발생 시 취소수수료를 차감한 금액으로 환불 처리됩니다.
                            </td>
                            <td>2022.03.03</td>
                            <td>
                                <button type="button" class="update_to_modal" data-bs-toggle="modal"
                                        data-bs-target="#faq_modal">
                                    수정
                                </button>
                            </td>
                            <td>
                                <button class="delete_Button" id="userDelete" data-id="1">삭제
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab-2" class="tab-content">
                    <table class="table table-hover" style="table-layout: fixed">
                        <thead>
                        <tr class="faq_th">
                            <th style="width: 50px">#</th>
                            <th style="width: 250px">제목</th>
                            <th style="width: 300px">내용</th>
                            <th>작성 날짜</th>
                            <th>수정</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="faq_td">
                            <td>1</td>
                            <td class="title">제가 설정한 적 없는 닉네임으로 되어있어요</td>
                            <td class="content">고객님의 개인 정보가 유출된 것이 아니니 안심하세요.
                                아래의 경로를 통해 닉네임을 변경할 수 있습니다.
                            </td>
                            <td>2022.03.03</td>
                            <td>
                                <button type="button" class="update_to_modal" data-bs-toggle="modal"
                                        data-bs-target="#faq_modal">
                                    수정
                                </button>
                            </td>
                            <td>
                                <button class="delete_Button" id="userDelete" data-id="1">삭제
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="modal" id="faq_modal">
                <div class="modal-dialog modal-lg">
                    <div class="faq_modal_content">

                        <!-- Modal body -->
                        <div class="faq_modal_body">
                            <div class="button">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="body">
                                <div class="column"><span class="column_name">결제/환불</span><span> 수정</span></div>
                                <input type="hidden" value="1" class="column_id">
                                <input class="input" type="text" placeholder="예약을 취소하고 싶어요">
                                <div class="update_summernote"></div>
                            </div>
                            <div class="button" style="margin-right: 10px;">
                                <button type="button" class="update_button update_submit" data-bs-dismiss="modal">수정</button>
                                <input type="hidden" value="예약자 본인이 직접 예약확인/취소 가능합니다.
예약/결제 당시 안내된 취소/환불 규정에 따라 처리되며, 취소수수료 발생 시 취소수수료를 차감한 금액으로 환불 처리됩니다." class="content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="fqa_insert_modal">
                <div class="modal-dialog modal-lg">
                    <div class="faq_modal_content">

                        <!-- Modal body -->
                        <div class="faq_modal_body">
                            <div class="button">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="body">
                                <div class="column"><span class="column_name">결제/환불</span><span> 등록</span></div>
                                <input type="hidden" value="1" class="column_id">
                                <input class="input" type="text" placeholder="제목을 입력해주세요">
                                <div class="insert_summernote"></div>
                            </div>
                            <div class="button" style="margin-right: 10px;">
                                <button type="button" class="insert_button insert_submit" data-bs-dismiss="modal">등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--컨테이너2 끝-->
    </div>
</div>
<script>

    let updateButton = document.querySelector('.update_submit');
    updateButton.addEventListener("click", function (){
       alert("수정이 완료되었습니다.");
    });

    let submitButton = document.querySelector('.insert_submit');
    submitButton.addEventListener("click", function (){
        alert("등록이 완료되었습니다.");
    });

    $(document).ready(function () {

        $('ul.tabs li').click(function () {
            let tab_id = $(this).attr('data-tab');
            let column_id = $(this).attr('id');
            let column = $(this).text();

            $('.column_id').val(column_id);
            $('.column_name').text(column);

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })
    })

    $(document).ready(function () {
        let placeholder = "";
        let className = "";
        let content = $('.content').text();
        console.log("placeholder : " + content);

        $('.update_to_modal').click(function() {
            placeholder = content;
            className = '.update_summernote';
            initializeSummernote();
        });

        $('.insert_to_modal').click(function() {
            placeholder = "내용을 입력해주세요.";
            className = '.insert_summernote';
            initializeSummernote();
        });

        function initializeSummernote(){
            $(className).summernote({
                placeholder: placeholder,
                tabsize: 2,
                height: 200,
                font: '돋움체',
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['forecolor']],
                    ['para', ['paragraph']],
                    ['table', ['table']],
                ],
                styleTags: [
                    {
                        title: '강조',
                        tag: 'h4',
                        className: 'pointFont',
                        value: 'h4'
                    },
                    {
                        title: '일반(숫자)',
                        tag: 'p',
                        className: 'normalFont',
                        value: 'p'
                    },
                ],
            });
        }

    });

</script>

</body>
</html>