{{>admin/layout/manager_header}}

<!--컨테이너1 시작-->
<div class="flex_center">
    <div class="main">
        <div class="container">
            <div class="section1">
                <div class="section_title">캠핑장</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-tents"></i><a href="/admin/funding-ready-list">캠핑장 등록</a>
                    </li>
                    <li><i class="fa-solid fa-binoculars"></i><a href="/admin/funding/confirm">캠핑장 수정 · 삭제</a></li>
                    <li><i class="fa-solid fa-compass"></i><a href="/admin/funding-management">캠핑장 현황 · 리뷰 관리</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">회원</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-user"></i><a href="/admin/invitation">회원 관리</a></li>
                </ul>
                <div class="short_line"></div>
            </div>

            <div class="section1">
                <div class="section_title">고객센터</div>
                <ul class="section_ul">
                    <li><i class="fa-solid fa-question"></i><a href="/admin/funding/movie-open/setting">FAQ</a></li>
                    <li><i class="fa-regular fa-clipboard"></i><a
                            href="/admin/funding/off-movie-open/setting">공지사항</a></li>
                </ul>
                <div class="short_line"></div>
            </div>
        </div>
        <!--컨테이너1 끝-->

        <!--컨테이너2 시작-->
        <div class="check_container">
            <div class="admin_container_title">
                <h3>회원 관리</h3>
            </div>
            <form id="search-form" action="/admin/funding/confirm/search" method="get">
                <div class="custom_search">
                    <input type="text" name="keyword" placeholder="검색 하기">
                    <button type="submit" class="custom_search_button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <div class="p_usermanagement_form">
                <table class="table table-hover">
                    <thead>
                    <tr class="user_th">
                        <th>#</th>
                        <th>회원 유저네임</th>
                        <th>회원 닉네임</th>
                        <th>회원 프로필</th>
                        <th>회원 가입 날짜</th>
                        <th>회원 삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user_td">
                        <td>1</td>
                        <td>kakao.ssar</td>
                        <td>ssar</td>
                        <td>
                            <button class="profile_button">
                                프로필 보기
                            </button>
                        </td>
                        <td>2022.03.03</td>
                        <td>
                            <button class="alreadyDeletedButton" id="userAlreadyDelete" data-id="1" disabled>삭제완료
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal" id="j_fund_modal">
                <div class="modal-dialog">
                    <div class="custom_modal_content">

                        <!-- Modal body -->
                        <div class="custom_modal_body">
                            <div class="button">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="body">
                                <div style="font-weight: bold">진천포레스트 캠핑장</div>
                                <div class="count">4.7</div>
                                <br>
                                <div style="font-size: 14px; font-weight: 500">세부항목</div>
                                <div style="font-size: 13px" class="custom_flex detail_review">
                                    <div style="text-align: start; margin-right: 15px">
                                        <p>청결도</p>
                                        <p>관리수준</p>
                                        <p>친절도</p>
                                    </div>
                                    <div style="text-align: start">
                                        <p><img src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"></p>
                                        <p><img src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"></p>
                                        <p><img src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"><img
                                                src="static_images/icons/blue_star.png" width="10px"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="custom_modal_footer">
                            <div class="review_count">
                                리뷰(1개)
                            </div>
                            <br>
                            <button type="button" class="review_delete_button">
                                <div class="review_form">
                                    <div class="review_user">
                                        <div class="user_form">
                                            <div class="review_user_img">
                                                <img src="../../../../../images/user/user-profile.jpg">
                                            </div>
                                            <div style="margin-left: 12px">
                                                <p style="font-size: 14px">오리</p>
                                                <p style="font-size: 12px; color: #6C6A6B">2022/08/04</p>
                                            </div>
                                        </div>
                                        <div class="star_form">
                                            <p><img src="static_images/icons/blue_star.png" width="13px"><img
                                                    src="static_images/icons/blue_star.png" width="13px"><img
                                                    src="static_images/icons/blue_star.png" width="13px"><img
                                                    src="static_images/icons/blue_star.png" width="13px"><img
                                                    src="static_images/icons/blue_star.png" width="13px"></p>
                                        </div>
                                    </div>
                                    <div class="review">
                                        <p>체크아웃 시간이 13시라서 너무 좋아요~</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--컨테이너2 끝-->
    </div>
</div>

</body>
</html>